<div class="ngdialog-message">
    <div class="">
        <strong>Acrobatics (Dexterity)</strong> - your acrobatics check is based on your dexterity modifier. Acrobatics determines your ability to stay on your feet in tricky situations, such as when you are trying to run across a sheet of ice, balance on a tightrope, or stay upright on a rocking ship's deck. The DM might also call for an Acrobatics check to see if you can perform acrobatic stunts including dives, rolls, somersaults, and flips. 
    </div>
    
</div>