<div class="ngdialog-message">
    <div class="">
        <strong>Athletics (Strength)</strong> - a check of your athletics ability covers difficult situations you encounter when climbing, jumping, or swimming. All athletics checks are based on your Strength modifier. Examples include: 
        <ul>
        <li>You attemt to climb a sheer or slippery cliff, avoid hazards while scaling a wall, or cling to the surface while something is trying to knock you off.</li>
            <li>You try to jump an unusually long distance or pull off a stunt mid-jump.</li>
            <li>You struggle to swim or stay afloat in treacherous currents, storm-tossed waves, or areas of thick seaweed, or another creature tries to push or pull you underwater or otherwise interfere with your swimming.</li>
        </ul>
    </div>
    
</div>