<div class="ngdialog-message">
    <div class="">
        <strong>Intimidation (Charisma)</strong> - your Intimidation check is based on your Charisma modifier. When you attempt to influence someone through overt threats, hostile actions, and physical violence, the DM might ask you to make an intimidation check. Examples include trying to pry information out of a prisoner, convincing street thugs to back down from a confrontation, or using the edge of a broken bottle to convince a sneering vizier to reconsider a decision. 
    </div>
    
</div>