<div class="ngdialog-message">
    <div class="">
        <strong>Investigation (Intelligence)</strong> - when you look around for clues and make deductions based on those clues, you make an Investigation check. You might deduce the location of a hidden object, discern from the appearance of a wound what kind of weapon dealt it, or determine the weakest point in a tunnel that could cause a collapse. Pouring through ancient scrolls in search of a hidden fragment of knowledge might also call for an Investigation check.
    </div>
    
</div>