<div class="ngdialog-message">
    <div class="">
        <strong>Sleight of Hand (Dexterity)</strong> - your sleight of hand check is based on your dexterity modifier. Whenever you attempt an act of manual trickery such as planting something on someone else or concealing an object on your person, you will need to make a Sleight of Hand check. The DM may also call for a sleight of hand check to determine whether you can lift a coin purse off another person or slip something out of another person's pocket.
    </div>
    
</div>