<div class="row row-content" ng-show="isAuthenticated(); isAdmin()">    
    <div class="col-xs-12">
        <h4>DM Aware Administration</h4>
    </div>
    <div class="col-xs-12">
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" ng-class="{active:isSelected(1)}">
            <a ng-click="select(1); subSelect(1)" aria-controls="users" role="tab">Users</a>
            </li>
            <li role="presentation" ng-class="{active:isSelected(2)}">
            <a ng-click="select(2); subSelect(1)" aria-controls="teams" role="tab">Teams</a>
            </li>
            <li role="presentation" ng-class="{active:isSelected(3)}">
            <a ng-click="select(3); subSelect(1);" aria-controls="configuration" role="tab">Configuration</a>
            </li>
        </ul>

        <div class="tab-content">
            <div id="tabContent" class="tab-pane fade in active" ng-show="isSelected(1)">
            Users selected
            </div>
            <div id="tabContent" class="tab-pane fade in active" ng-show="isSelected(2)">
            Teams Selected
            </div>
            <div id="tabContent" class="tab-pane fade in active" ng-show="isSelected(3)">
            Configuration selected
            </div>
        </div>
    </div>
</div>

<div class="row row-content" ng-show="isAuthenticated(); !isAdmin()">    
    <div class="col-xs-12">
        <h4>DM Aware User Tools</h4>
    </div>
    
    <div class="col-xs-12">
        <uib-tabset active="activeIndex">
            <uib-tab index="0" heading="Intro">
                <div><img src="http://www.patrickborrelli.com/images/dropW.jpg" style="height: 75px; float: left; padding-right: 10px; padding-bottom: 5px;"/>
                </div>
                <div>
                    elcome to the DMAware character generation utility.  This tool provides for automation of Dungeons and Dragons 5th Edition character creation, simplifying some of the more intricate details in the D&amp;D 5e rules, and at the end of the process it will produce a PDF D&amp;D Character Sheet suitable for printing for your own records as well as emailing to your Dungeon Master, or anyone else who needs a copy.<br/><br/>
                    DMAware will take you through a step-by-step process, asking you for selections along the way.  You will make all of the fun decisions, and DMAware will do all of the mundane work.<br/><br/>
                    Enter the information required below and click on Begin to get started!
                </div><br/>
                
                <form name="introForm" class="form-horizontal" >
                    <div class="form-group custom-padding">
                        <label class="sr-only" for="playername">Player Name</label>
                        <div class="col-xs-8">
                            <div class="input-group">
                                <div class="input-group-addon custom-width-140">Player Name</div>
                                <input type="text" class="form-control input-sm" id="playername" ng-model="registration.playername" placeholder={{getUserName()}} disabled>
                            </div>                    
                        </div>
                    </div>
                    <div class="form-group custom-padding-bottom">
                        <label class="sr-only" for="charactername">Character Name</label>
                        <div class="col-xs-8">
                            <div class="input-group">
                                <div class="input-group-addon custom-width-140">Character Name</div>
                                <input type="text" class="form-control input-sm" id="charactername" ng-model="registration.charactername">
                            </div>                    
                        </div>
                    </div>         
                    <button type="button" style="margin-left: 16px;" class="btn btn-info btn-xs" ng-click="switchToRace(getUserName(), introForm.charactername);">Begin</button>   
                </form>
            </uib-tab>
            <uib-tab index="1" heading="Race" disable="raceDisabled">Race<br/>
                <button type="button" style="margin-left: 16px;" class="btn btn-info btn-xs" ng-click="classDisabled = false; switchTab(2);">Next</button>
            </uib-tab>
            <uib-tab index="2" heading="Class" disable="classDisabled">Class<br/>
                <button type="button" style="margin-left: 16px;" class="btn btn-info btn-xs" ng-click="alignDisabled = false; switchTab(3);">Next</button>
            </uib-tab>
            <uib-tab index="3" heading="Alignment" disable="alignDisabled">Alignment<br/>
                <button type="button" style="margin-left: 16px;" class="btn btn-info btn-xs" ng-click="abilityDisabled = false; switchTab(4);">Next</button>
            </uib-tab>
            <uib-tab index="4" heading="Abilities" disable="abilityDisabled">Abilities<br/>
                <button type="button" style="margin-left: 16px;" class="btn btn-info btn-xs" ng-click="skillsDisabled = false; switchTab(5);">Next</button>
            </uib-tab>
            <uib-tab index="5" heading="Skills" disable="skillsDisabled">Skills</uib-tab>
            <uib-tab index="6" heading="Equipment" disable="equipDisabled">Equipment</uib-tab>            
            <uib-tab index="7" heading="Spellcasting" disable="spellsDisabled">Spellcasting</uib-tab>
        </uib-tabset>
    </div>
</div>
